
body{
  background:linear-gradient(to left, rgb(12, 104, 141), rgb(214, 9, 50));
}

h1{text-align: center;}

#flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  font-weight: 900;
}


.comum{
  font-size: 20px;
  background-color: rgb(93, 93, 231);
  box-shadow: 5px 5px 2px black;
}

#onome{
  margin-bottom: 9px;
  padding: 3px;
}



#img{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  
}

#img img{
  border:solid rgb(106, 106, 240);
  border-radius: 20px;
  
}


#voltar{
  visibility: hidden;
  text-align: center;
  cursor: pointer;

}

#display{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#botao{
  margin-bottom: 10px;
  cursor: pointer;
}


#display :hover{
  transform: scale(1.1);
  box-shadow: 6px 6px 6px black;

}


#simulation :hover{
  transform: scale(1.1);
  box-shadow: 6px 6px 6px black;
}

input{
  padding: 15px;
  border-radius: 8px;
  border: rgb(145, 145, 240) solid;
}