
body{
background:linear-gradient(to left, rgb(12, 104, 141), rgb(214, 9, 50));
}

h1{text-align: center;}

#flex{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 80px;
font-weight: 900;
}


.comum{
font-size: 20px;
background-color: rgb(93, 93, 231);
box-shadow: 5px 5px 2px black;
}

#onome{
margin-bottom: 9px;
padding: 3px;
}



#img{
    display: flex;
    justify-content: center;
}
